In [1]:
import numpy as np
import pandas as pd

In [4]:
df.columns

Index(['Unnamed: 0', 'Customer Id', 'Age', 'Edu', 'Years Employed', 'Income',
       'Card Debt', 'Other Debt', 'Defaulted', 'DebtIncomeRatio'],
      dtype='object')

In [5]:
df = pd.read_csv("cust_seg.csv")
df.drop(['Unnamed: 0', 'Customer Id'], axis=1, inplace=True)

In [6]:
df.head(2)

,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,DebtIncomeRatio
0,41,2,6,19,0.124,1.073,0.0,6.3
1,47,1,26,100,4.582,8.218,0.0,12.8

In [13]:
df.loc[list(range(22,30)),'Age']

22    28
23    45
24    37
25    43
26    24
27    37
28    38
29    34
Name: Age, dtype: int64

In [27]:
df[df['Age'].isin([22,30])]

,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,DebtIncomeRatio
38,22,1,1,18,0.270,0.522,0.0,4.4
46,22,1,4,14,0.225,2.225,0.0,17.5
47,30,1,4,21,0.229,0.506,NaN,3.5
70,30,3,8,61,0.550,1.158,0.0,2.8
72,30,2,12,98,2.935,4.121,0.0,7.2
81,30,3,0,65,3.900,15.405,1.0,29.7
86,22,4,0,25,1.491,1.559,NaN,12.2
99,22,3,0,20,0.219,0.721,0.0,4.7
100,30,1,7,33,1.165,7.217,1.0,25.4
112,30,1,10,39,2.056,1.649,0.0,9.5
116,30,1,4,18,0.227,1.699,0.0,10.7
143,30,1,8,23,0.762,1.998,0.0,12.0
167,30,1,11,27,0.074,0.169,0.0,0.9
190,30,1,8,27,3.744,1.737,NaN,20.3
202,22,3,1,25,1.977,1.473,1.0,13.8
266,30,1,12,40,1.249,1.551,NaN,7.0
290,30,1,4,33,0.500,0.886,0.0,4.2
295,30,1,1,22,1.139,1.171,0.0,10.5
310,30,2,8,56,0.333,3.251,0.0,6.4
311,30,1,1,17,0.746,1.124,0.0,11.0
324,22,1,4,16,0.084,0.108,0.0,1.2
387,30,2,4,21,0.492,3.351,0.0,18.3
401,30,1,10,19,0.336,0.500,0.0,4.4
402,30,1,0,19,0.624,2.530,1.0,16.6
414,22,2,0,35,0.781,2.369,1.0,9.0
433,22,3,0,18,0.478,0.908,0.0,7.7
475,22,3,0,23,0.373,1.559,1.0,8.4
483,22,1,1,17,0.806,2.356,0.0,18.6
549,22,2,0,20,0.207,0.913,0.0,5.6
552,30,4,2,25,1.770,0.730,0.0,10.0
562,30,2,10,22,1.410,2.132,0.0,16.1
621,30,1,1,27,1.275,2.046,NaN,12.3
638,30,1,11,33,0.682,2.090,0.0,8.4
654,30,1,0,20,0.622,0.458,NaN,5.4
673,30,2,4,15,0.350,0.625,0.0,6.5
712,30,2,12,68,2.857,10.811,0.0,20.1
748,22,2,0,14,0.242,2.152,NaN,17.1
754,22,1,4,24,1.636,2.108,1.0,15.6
762,30,1,0,17,0.304,1.736,0.0,12.0
794,30,1,0,17,0.447,0.182,1.0,3.7
804,30,1,12,38,0.171,3.059,0.0,8.5
809,22,1,4,19,1.887,2.502,1.0,23.1
817,30,2,2,26,0.249,0.739,NaN,3.8
833,30,4,7,30,0.264,4.446,0.0,15.7